#header {
  background-color: #FFFFFF;
  width: 100%;
  height: 150px;

      @media (min-width: 320px) and (max-width: 480px) {
       padding-left: 20%;
        padding-right: 20%;
     }

      @media (min-width: 481px) and (max-width: 1024px) {
       padding-left: 8%;
        padding-right: 8%;
     }
}

.navIcons {
  width: 80px;
  height: 80px;
  border: none;
  display: inline-block;

  &.twitter {
    background-image: image-url("twitter.svg");
    background-size: cover;
    float: right;
    margin-right: 30px;



    &:hover,
    &:active {
      background-image: image-url("twitter.svg");
      background-size: cover;
    }
  }
}
