.portfolio_nav {
  height: 260px; 
  text-align: center; }

.portfolio_nav_img {
  display: block;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
}

.media {
  display: inline-block;
  position: relative;
  vertical-align: top;
}

.media__image { display: block; }

.media__body {

  background: rgba(0, 0, 0, 0.8);
  bottom: 0;
  color: white;
  font-size: 1em;
  left: 0;
  opacity: 0;
  overflow: hidden;
  padding: 3.75em 3em;
  position: absolute;
  text-align: center;
  top: 0;
  right: 0;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.media__body:hover { opacity: 1; }

.media__body:after,
.media__body:before {
  bottom: 1em;
  content: '';
  left: 1em;
  opacity: 0;
  position: absolute;
  right: 1em;
  top: 1em;
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
  -webkit-transition: 0.6s 0.2s;
  transition: 0.6s 0.2s;
}

.media__body:before {
  border-bottom: none;
  border-top: none;
  left: 2em;
  right: 2em;
}

.media__body:after {
  border-left: none;
  border-right: none;
  bottom: 2em;
  top: 2em;
}

.media__body:hover:after,
.media__body:hover:before {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

.media__body h2 { margin-top: 0; }

.media__body p { margin-bottom: 1.5em; }

a.media_body_link {
  z-index:1;

  display: block;
  position: relative;
  color: #FFFFFF;
  border: 2px solid;
  padding-top: 0.4em;
  padding-left: 0;
  padding-bottom: 0.4em;
  margin: 4em 4em 0 4em;
}

 a.media_body_link:hover {
    color: #000000;
    border: 2px solid #ffffff;
    background: #ffffff;
    text-decoration: none;
  }

  a.media_body_link:active {
    color: #000000;
    border: 2px solid #ffffff;
    background: #ffffff;
    text-decoration: none;
  }

@media (max-width: 1500px){
.about_header_pic {
  padding-right: 4em!important;
}

.about_header_text {
  padding-right: 16em;
  padding-left: 2em!important;
}

.getintouch {
  margin-top: 2em;
  margin-bottom: 2em;
}

}


@media (max-width: 767px) and (min-width: 320px) {

.screenshots1 {
  float: none!important;
}

.screenshots3 {
  float: none!important;
}

.altscreenshot_sm {
  display: block!important;
}

.altscreenshot_lg {
  display: none!important;
}

a.content_body_link {
  width: 85%!important;
  height: 3em!important;

  font-size: 2.6rem!important;
}

}


@media (max-width: 990px){

.about_header_text {
  padding-right: 2em!important;
  padding-left: 2em!important;
}

.about_header_pic {
  padding-right: 0em!important;
  padding-left: 0em!important;
  vertical-align: bottom!important;
  position: relative!important;
}

h1.projectname {
  margin-top: 0!important;
}

.bradley_illustration {
  float: none!important;
}

.portfolio_content_12 {
  display: none; }

.miramint-icon {
  width: 14em!important;
}


}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 360px) {
.bradley{
  margin-left: -30px;
}

.nav_burger_btn {
  width: 40px;
}

.navbar-toggle {
  margin-right: 10px;
}

a.content_body_link {
  width: 12em!important;
  height: 3em!important;

  font-size: 2.6rem!important;
}

}


/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
.bradley{
  margin-left: -15px;
}

.about_header_text {
  padding-right: 0px!important;
  padding-left: 0px!important;
}
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){

.bradley{
  margin-left: -1.8em;
  margin-top: 1.5em;
  font-size: 1.6rem;
}
.navbar-toggle{
  margin-right: 0px;
}

.mob-nav-link {
  line-height: 1.5em!important;
  padding-top: 0px!important;
  padding-bottom: 0px!important;
}

.burger_menu_btns {
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.about_header_text {
  padding-right: 14px!important;
  padding-left: 14px!important;
}

.about_header {
  margin-top:0px!important;

  border-bottom: 22px solid #000;
  border-top: 1px solid #000;
}

.about_header_pic {
  padding-right: 0px!important;
  padding-left: 0px!important;
  margin-right: auto;
  margin-left: auto;
}

.getintouch {
  margin-top: 2em!important;
  margin-bottom: 2em;
}

a.content_body_link {
  width: 11.2em!important;
  height: 3em!important;

  font-size: 2.6rem!important;
}

}

/* iPhone 6 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
.bradley{
  margin-left: -1.5em;
  margin-top: 1.25em;
}
.navbar-toggle{
  margin-right: 0px;
}

.about_header_text {
  padding-right: 0px!important;
  padding-left: 0px!important;
  margin-top: 0px;
}

.about_header {
  margin-top:0px!important;

  border-bottom: 22px solid #000;
  border-top: 1px solid #000;
}

}

/* iPhone 6+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
.about_header_text {
  padding-right: 20px!important;
  padding-left: 20px!important;
  margin-top: 0px;
}
}


.portfolio_content_1 {
  background-color: #f0e613; }

.portfolio_content_2 {
  background-color: #f3cce1; }

.portfolio_content_3 {
  background-color: #ffffff; }

.portfolio_content_4 {
  background-color: #000000; }

.portfolio_content_5 {
background-image: -webkit-gradient(
  linear,
  left bottom,
  right top,
  color-stop(0, #1BA9FB),
  color-stop(1, #96C93D)
);
background-image: -o-linear-gradient(right top, #1BA9FB 0%, #96C93D 100%);
background-image: -moz-linear-gradient(right top, #1BA9FB 0%, #96C93D 100%);
background-image: -webkit-linear-gradient(right top, #1BA9FB 0%, #96C93D 100%);
background-image: -ms-linear-gradient(right top, #1BA9FB 0%, #96C93D 100%);
background-image: linear-gradient(to right top, #1BA9FB 0%, #96C93D 100%);
} }

.portfolio_content_6 {
  background-color: #41a0d8; }

.portfolio_content_7 {
  background-color: #009EDC; }

.portfolio_content_8 {
  background-color: #f99f1c; }

.portfolio_content_9 {
  background-color: #b0e3f0; }

.portfolio_content_10 {
  background-color: #b0e3f0; }

.portfolio_content_11 {
  background-color: #666666; }

.portfolio_content_12 {
  background-color: #ffffff; }

.abacus {
  background: url('images/nav_abacus.jpg'); 
  no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.ginipay {
  background: url('images/nav_ginipay.jpg'); 
  no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.miramint {
  background: url('images/nav_miramint.png'); 
  no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.thumbnail {
    position:relative;
    overflow:hidden;
}
 
.caption {
    position:absolute;
    top:0;
    right:0;
    background:rgba(66, 139, 202, 0.75);
    width:100%;
    height:100%;
    display: none;
    text-align:center;
    color:#fff !important;
    z-index:2;
}

h2.nav_project_name {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 4px;
}

p.nav_project_desc {
  font-family: 'Droid Serif', serif;
  letter-spacing: 4px;
}

h1.footer_nav {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 4px;

  margin-top: 2em;
  }

  h4.footer_nav {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 4px;
  font-size: 1.6rem;
  line-height: 1.8em;

  margin-top: 3em;
  margin-bottom: 3em;
  }

.footer_line {
  margin-top: 2em;
  margin-bottom: 2em;
}

.real_footer {
  margin-top: 2em;
  margin-bottom: 2em;
  text-align: center;
}

.content_header {
  height: 520px;
}

  @media (min-width: 320px) and (max-width: 480px) {
    .content_header{
        height: 320px;
     }
}
.zenpay{
    /*Official Syntax*/
  background-image: linear-gradient(45deg, #ff5a00, #FFAE00); 

  /*Browser Syntax*/
  background-image: -webkit-linear-gradient(45deg, #ff5a00, #FFAE00);
  background-image: -moz-linear-gradient(45deg, #ff5a00, #FFAE00);
  background-image: -o-linear-gradient(45deg, #ff5a00, #FFAE00);
  background-image: -ms-linear-gradient(45deg, #ff5a00, #FFAE00);
  } 

  h1.projectname {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 4px;
    font-size: 3.6rem;
    
    margin-top: 1.5em;
  }

  h2.projectinvolved {
    text-align: center;
    font-family: 'Droid Serif', serif;
    letter-spacing: 4px;
    font-size: 1.8rem;

    margin-top: 1.6em;
  }

  p.projecttext {
    text-align: center;
    letter-spacing: 1.4px;
    font-size: 1.8rem;
    font-family: 'Droid Serif', serif;
    line-height: 1.7em;

    margin-top: 2em;
  }


.project_area {
  background-color: #eaeaea;
  margin-top: 4em;
}

.view-more {
  text-align: center;
    font-family: 'Montserrat', sans-serif;
  letter-spacing: 4px;
  font-size: 1.6rem;

  padding-top: 4em;
  margin-bottom: 4em;
}


.arrow-down-blue, .arrow-down-white, section.section-inverted.section-arrow, .footer-top, section.section-arrow {
  position: relative; }
  .arrow-down-blue:before, .arrow-down-white:before, section.section-inverted.section-arrow:before, .footer-top:before, section.section-arrow:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    left: 50%;
    margin-left: -16px;
    border: 16px solid transparent;
    border-top: 16px solid #009edc; }

.arrow-down-white:before, section.section-inverted.section-arrow:before, .footer-top:before {
  border-top: 16px solid #FFFFFF; }



  .arrow-down-grey, section.section-arrow, .footer-top, section.section-arrow {
  position: relative; }
  .arrow-down-grey:before, .arrow-down-grey:before, section.section-arrow:before, .footer-top:before, section.section-arrow:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    left: 50%;
    margin-left: -16px;
    border: 16px solid transparent;
    border-top: 16px solid #009edc; }

.arrow-down-grey:before, section.section-arrow:before, .footer-top:before {
  border-top: 16px solid #eaeaea; }


.about_header {
  margin-top: 6em;
  background-color: #ffffff;

  border-bottom: 22px solid #000;

  position: relative;
}

.about_header_text {
  padding-right: 16em;
  padding-left: 16em;
}

.about_header_pic {
  padding-right: 16em;
  padding-left: 0em;
  vertical-align:bottom;

  position: absolute;
  /* top: 0px; */
  right: 0px;
  bottom: 0px;
}

.bradley_illustration {
  float: right;
}





/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */
.cd-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}
.cd-container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}

/* -------------------------------- 

Main components 

-------------------------------- */
header {
  height: 200px;
  line-height: 200px;
  text-align: center;
  background: #303e49;
}
header h1 {
  color: white;
  font-size: 18px;
  font-size: 1.125rem;
}
@media only screen and (min-width: 1170px) {
  header {
    height: 300px;
    line-height: 300px;
  }
  header h1 {
    font-size: 24px;
    font-size: 1.5rem;
  }
}

#cd-timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 0;
  margin-bottom: 2em;
}
#cd-timeline::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 4px;
  background: #d7e4ed;
}
@media only screen and (min-width: 1170px) {
  #cd-timeline {
    margin-top: 0;
    margin-bottom: 3em;
  }
  #cd-timeline::before {
    left: 50%;
    margin-left: -2px;
  }
}

.cd-timeline-block {
  position: relative;
  margin: 2em 0;
}
.cd-timeline-block:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-block:first-child {
  margin-top: 0;
}
.cd-timeline-block:last-child {
  margin-bottom: 0;
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-block {
    margin: 4em 0;
  }
  .cd-timeline-block:first-child {
    margin-top: 0;
  }
  .cd-timeline-block:last-child {
    margin-bottom: 0;
  }
}

.cd-timeline-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}
.cd-timeline-img img {
  display: block;
  width: 24px;
  height: 24px;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -12px;
  margin-top: -12px;
}
.cd-timeline-img.cd-picture {
  background: #75ce66;
}
.cd-timeline-img.cd-movie {
  background: #c03b44;
}
.cd-timeline-img.cd-location {
  background: #f0ca45;
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-img {
    width: 60px;
    height: 60px;
    left: 50%;
    margin-left: -30px;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }
  .cssanimations .cd-timeline-img.is-hidden {
    visibility: hidden;
  }
  .cssanimations .cd-timeline-img.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-1 0.6s;
    -moz-animation: cd-bounce-1 0.6s;
    animation: cd-bounce-1 0.6s;
  }
}

@-webkit-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -moz-transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -moz-transform: scale(1.2);
  }

  100% {
    -moz-transform: scale(1);
  }
}
@keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
.cd-timeline-content {
  position: relative;
  margin-left: 60px;
  background: white;
  border-radius: 0.25em;
  padding: 1em;
  box-shadow: 0 3px 0 #d7e4ed;
}
.cd-timeline-content:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-content h2 {
  color: #303e49;
}
.cd-timeline-content p, .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
  font-size: 13px;
  font-size: 0.8125rem;
}
.cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
  display: inline-block;
}
.cd-timeline-content p {
  margin: 1em 0;
  line-height: 1.6;
}
.cd-timeline-content .cd-read-more {
  float: right;
  padding: .8em 1em;
  background: #acb7c0;
  color: white;
  border-radius: 0.25em;
}
.no-touch .cd-timeline-content .cd-read-more:hover {
  background-color: #bac4cb;
}
.cd-timeline-content .cd-date {
  float: left;
  padding: .8em 0;
  opacity: .7;
}
.cd-timeline-content::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid white;
}
@media only screen and (min-width: 768px) {
  .cd-timeline-content h2 {
    font-size: 20px;
    font-size: 1.25rem;
  }
  .cd-timeline-content p {
    font-size: 16px;
    font-size: 1rem;
  }
  .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
    font-size: 14px;
    font-size: 0.875rem;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-content {
    margin-left: 0;
    padding: 1.6em;
    width: 45%;
  }
  .cd-timeline-content::before {
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left-color: white;
  }
  .cd-timeline-content .cd-read-more {
    float: left;
  }
  .cd-timeline-content .cd-date {
    position: absolute;
    width: 100%;
    left: 122%;
    top: 6px;
    font-size: 16px;
    font-size: 1rem;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: white;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
    left: auto;
    right: 122%;
    text-align: right;
  }
  .cssanimations .cd-timeline-content.is-hidden {
    visibility: hidden;
  }
  .cssanimations .cd-timeline-content.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-2 0.6s;
    -moz-animation: cd-bounce-2 0.6s;
    animation: cd-bounce-2 0.6s;
  }
}

@media only screen and (min-width: 1170px) {
  /* inverse bounce effect on even content blocks */
  .cssanimations .cd-timeline-block:nth-child(even) .cd-timeline-content.bounce-in {
    -webkit-animation: cd-bounce-2-inverse 0.6s;
    -moz-animation: cd-bounce-2-inverse 0.6s;
    animation: cd-bounce-2-inverse 0.6s;
  }
}
@-webkit-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
  }

  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -moz-transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -moz-transform: translateX(20px);
  }

  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -o-transform: translateX(-100px);
    transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -o-transform: translateX(20px);
    transform: translateX(20px);
  }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
  }

  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -moz-transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -moz-transform: translateX(-20px);
  }

  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
    transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    transform: translateX(-20px);
  }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}

h1.abouttitle {
font-size: 6rem;
  margin-top: 1.4em;
  margin-bottom: 1.4em;

}

.about_skills {
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 4px;
}

.getintouch {
  margin-top: 3em;
  margin-bottom: 4em;
  width: 12em;
  height: 3em;
  }

.about_timeline_header {
  background-color: #ffffff;
  color: #000000;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 4px;
}

.about_timeline {
  margin-top:0;

  background-image: -webkit-gradient(
  linear,
  left top,
  right bottom,
  color-stop(0, #1BA9FB),
  color-stop(1, #B1E3F0)
);
background-image: -o-linear-gradient(right bottom, #1BA9FB 0%, #B1E3F0 100%);
background-image: -moz-linear-gradient(right bottom, #1BA9FB 0%, #B1E3F0 100%);
background-image: -webkit-linear-gradient(right bottom, #1BA9FB 0%, #B1E3F0 100%);
background-image: -ms-linear-gradient(right bottom, #1BA9FB 0%, #B1E3F0 100%);
background-image: linear-gradient(to right bottom, #1BA9FB 0%, #B1E3F0 100%);
}

.btn-primary {
  background-color: #00ADEF;
  border: none;

  text-align: center;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
}

.stage-ginipay {
  background-position: 30% 36%;
}

.stage-abacus {
  background-position: 30% 36%;
}

.stage-miramint {
  background-position: 50% 10%;
}

.nav-miramint {
   background-position: 50% 10%;
}

.nav-ginipay {
   background-position: 50% 10%;
}


.content {
  margin-top: 6em;
}

.funkjunkie-tshirt {

  height: 720px;

  background: url('images/funkjunkie_tshirt-front.png'); 
  no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.hufheld-logo {
  height: 40em;
}

.miramint-icon {
  width: 22em;
}

.screenshots1 {
  float: right;
}

.screenshots3 {
  float: left;
}

.altscreenshot_sm {
  display: none;
}

.altscreenshot_lg {
  display: block;
}

a.content_body_link {
  display: block;
  color: #000000;
  border: 6px solid;

  width: 18em;
  height: 3em;
  margin-bottom: 5em;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0.6em;

  text-align: center;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 4px;
  font-size: 3.6rem;
  text-decoration: none;
}

a.content_body_link:hover {
  color: #ffffff;
  border: 6px solid #000000;
  background: #000000;
  text-decoration: none;
}


/*# sourceMappingURL=portfolio.css.map */
