.portfolio_nav {
  height: 260px; 
  text-align: center; }

.portfolio_nav_img {
  display: block;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
}

.media {
  display: inline-block;
  position: relative;
  vertical-align: top;
}

.media__image { display: block; }

.media__body {
  background: rgba(0, 0, 0, 0.8);
  bottom: 0;
  color: white;
  font-size: 1em;
  left: 0;
  opacity: 0;
  overflow: hidden;
  padding: 3.75em 3em;
  position: absolute;
  text-align: center;
  top: 0;
  right: 0;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.media__body:hover { opacity: 1; }

.media__body:after,
.media__body:before {
  bottom: 1em;
  content: '';
  left: 1em;
  opacity: 0;
  position: absolute;
  right: 1em;
  top: 1em;
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
  -webkit-transition: 0.6s 0.2s;
  transition: 0.6s 0.2s;
}

.media__body:before {
  border-bottom: none;
  border-top: none;
  left: 2em;
  right: 2em;
}

.media__body:after {
  border-left: none;
  border-right: none;
  bottom: 2em;
  top: 2em;
}

.media__body:hover:after,
.media__body:hover:before {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

.media__body h2 { margin-top: 0; }

.media__body p { margin-bottom: 1.5em; }

a.media_body_link {
  display: block;
  position: relative;
  color: #FFFFFF;
  border: 2px solid;
  padding-top: 0.4em;
  padding-left: 0;
  padding-bottom: 0.4em;
  margin: 4em 4em 0 4em;
}

 a.media_body_link:hover {
    color: #000000;
    border: 2px solid #ffffff;
    background: #ffffff;
    text-decoration: none;
  }

  a.media_body_link:active {
    color: #000000;
    border: 2px solid #ffffff;
    background: #ffffff;
    text-decoration: none;
  }




.portfolio_content_1 {
  background-color: #f0e613; }

.portfolio_content_2 {
  background-color: #f3cce1; }

.portfolio_content_3 {
  background-color: #ffffff; }

.portfolio_content_4 {
  background-color: #000000; }

.portfolio_content_5 {
    /*Official Syntax*/
  background-image: linear-gradient(45deg, #ff5a00, #FFAE00); 

  /*Browser Syntax*/
  background-image: -webkit-linear-gradient(45deg, #ff5a00, #FFAE00);
  background-image: -moz-linear-gradient(45deg, #ff5a00, #FFAE00);
  background-image: -o-linear-gradient(45deg, #ff5a00, #FFAE00);
  background-image: -ms-linear-gradient(45deg, #ff5a00, #FFAE00);
} }

.portfolio_content_6 {
  background-color: #41a0d8; }

.portfolio_content_7 {
  background-color: #f0e613; }

.portfolio_content_8 {
  background-color: #f99f1c; }

.portfolio_content_9 {
  background-color: #ee3252; }

.portfolio_content_10 {
  background-color: #007c99; }

.portfolio_content_11 {
  background-color: #78f9ca; }

.portfolio_content_12 {
  background-color: #afb2b3; }

.abacus {
  background-image: url("assets/images/nav_abacus.jpg");
  background-size: cover;
}

.thumbnail {
    position:relative;
    overflow:hidden;
}
 
.caption {
    position:absolute;
    top:0;
    right:0;
    background:rgba(66, 139, 202, 0.75);
    width:100%;
    height:100%;
    display: none;
    text-align:center;
    color:#fff !important;
    z-index:2;
}

h1.footer_nav {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 4px;

  margin-top: 2em;
  }

  h4.footer_nav {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 4px;
  font-size: 1.6rem;

  margin-top: 3em;
  margin-bottom: 3em;
  }

.footer_line {
  margin-top: 2em;
  margin-bottom: 2em;
}

.real_footer {
  margin-top: 2em;
  margin-bottom: 2em;
  text-align: center;
}
/*# sourceMappingURL=portfolio.css.map */
